.container {
  background-color: #1F264F;
  height: 100vh;
  width: 100vw;
}

.loginContainer {
  background-color: white;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  border-bottom-left-radius: 3rem;
  border-top-left-radius: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Rodeluxet', sans-serif;
  font-size: var(--fs-400);
  color: #1F264F;
}

.span {
  font-size: var(--fs-50);
  color: gray;
  margin-top: 15px;
}

@font-face {
  font-family: 'Rodeluxet';
  src: url('../../assets/fonts/Rodeluxet.woff') format('woff'), /* Modern Browsers */
       url('../../assets/fonts/Rodeluxet.ttf')
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  min-width: 20vw;
  height: 5vh;
  border: none;
  border-bottom: solid gray 1.5px;
  margin: 15px 0;
  font-family: 'Segoe UI', sans-serif;
}

.loginButton {
  background-color: #1F264F;
  border: none;
  border-radius: 5px;
  height: 5vh;
  color: white;
  min-width: 20vw;
  cursor: pointer;
  font-family: 'Segoe UI', sans-serif;
  font-size: var(--fs-50);
  margin-top: 3vh;
}

.loginButton:hover {
  background-color: #1f264fca;
}

.loginLink {
  background: none;
  border: none;
  font-family: 'Segoe UI', sans-serif;
  font-size: var(--fs-50);
  cursor: pointer;
  color: #1F264F;
  font-weight: bold;
  margin-top: 1px;
  text-decoration: none;
}

.loginLink:hover {
  color:#1f264fca;
}

.otherOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20vw;
  margin-top: 20px;
}

.line {
  height: .8px;
  width:50%;
  background-color: gray;
}

.littleSpan {
  font-size: .9rem;
  color: gray;
  margin: 0px 5px;
}

.google {
  background-color: transparent;
  border: solid #1F264F 1px;
  color: #1F264F;
  margin-top: 10px;
}

.google:hover {
  color: white;
}